<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Report</title>
    <link rel="stylesheet" href="css/home/html.css">
    <link rel="stylesheet" href="css/home/bug.css">
    <script src="js/home/bug.js" defer></script>
</head>
<body>
    <input text="text" id="email" placeholder="email"></br>
    <span>
        <textarea id="desc" cols="20" rows="7" placeholder="description"></textarea></br> 
    </span>
    <button id="btn">submit</button>
</body>
</html>