<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Report</title>
</head>
<body>
    <input text="text" id="email" placeholder="email"></br>
    <!-- <select id="subject"></select></br> -->
    <!-- <input type="text" id="description" placeholder="description"></br> -->
    <span>
        <textarea id="description" cols="20" rows="7"></textarea></br> 
    </span>
    <button>sebmit</button>
</body>
</html>