<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <link rel="stylesheet" href="/css/home/html.css">
    <link rel="stylesheet" href="/css/home/project.css">
</head>
<body>
    <span id="grid">
        <div><p><a href="/project/apocalypse">Apocalypse</a></p></div>
        <div id="sec"><p><a href="/project/teleporter">Teleporter</a></p></div>
    </span>
</body>
</html>