<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>Register</title>
</head> 
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="lastName" type="text" placeholder="last name"/>
            <input id="name" type="text" placeholder="second name"/><br>
            <input id="email" type="email" placeholder="이메일"/><br>
            <input id="passwd" type="password" placeholder="비밀번호"/><br>
            <input id="confirm-passwd" type="password" placeholder="비밀번호 확인"/><br>
            <p id="btn">Create</p>
            <p class="message">already registered? <a href="/login"> login</a></p>
          </form>
        </div>
      </div>
</body>
</html>